.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
}
.heading h1 {
  color: red;
  padding: 30px;
  height: 50px;
}

.heading p {
  font-size: 1.2rem;

}